body {
	margin:0;
	padding:0;
	background-color: #282828;
	/*background:url(../assets/img/register/background.jpg) no-repeat;*/
	/*background-attachment:fixed;*/
	/*background-position:center;*/
	/*background-size:cover;*/
	/*-webkit-background-size:cover;*/
	/*-moz-background-size:cover;*/
	/*-o-background-size:cover;*/
	font-family: 'Muli', sans-serif;
}

.errormsg{
	font-size: small;
	font-family: monospace;
	background-color: rgba(255,40,40,0.8);
}

.navbar {
	min-height: 95px !important;
	background-color: rgba(255,255,255,.8);
}

@media(max-width:768px) {
	.navbar {
		background-color: rgba(0,0,0,.8);
		min-height: 0px !important;
	}

}

p.errormsg{
	color: white;
}

.clear {
	clear:both;
}
h1 {
	text-align:center;
	font-size:45px;
	color:#fff;
	padding:50px 0;
	text-transform:uppercase;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
}

.log .content2 h2 {
	font-size:40px;
	padding: 30px 0 0;
	color:#fff;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	text-align:center;
}
.log {
	width:75%;
	margin:10% auto 0 auto;
}
.content2 {
	  width:48%;
		margin-left:auto;
		margin-right:auto;
	margin-top: 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.21);
    float:center;
	padding: 30px 0 70px;
    border-radius: 0px;
}
.content2 input[type="text"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background: no-repeat 440px 10px;
	margin-top:5%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}

.content2 input[type="email"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background: no-repeat 440px 10px;
	margin-top:4%;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.content2 input[type="password"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background: no-repeat 440px 10px;
	margin-top:4%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.register {
	padding:10px;
	background-color:#4C9A39;
	width:78%;
	border:none;
	cursor:pointer;
	color:#fff;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	font-size:20px;
	margin-top:7%;
	text-transform:uppercase;
	border-radius:4px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.register:hover {
	background-color:#376D29;
	color:white;
}
.footer {
	margin-top:3%;
	padding:50px 0;
	text-align:center;
}
.footer p {
	color:#fff;
	font-size:17px;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	line-height:25px;
}

.footer a:hover {
	color:#c0392b;
	transition: all 0.5s ease-in-out;
}
