@(stream: String, isLoggedIn: Boolean, userInfo: User, key: String, views: Integer)


@main(stream, isLoggedIn, userInfo) {

        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/Cstyles.css" />
        <link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet" />
        @*<link href="/assets/stylesheets/videojs-errors.css" type="text/css" rel="stylesheet" />*@
        <script src="//vjs.zencdn.net/5.8/video.min.js"></script>
        <script src="/assets/javascripts/videojs-contrib-hls.min.js"></script>

    <script src="/assets/javascripts/videojs-brand.min.js"></script>

    @*If the person accessing the page is the page's owner*@
    @if(isLoggedIn && userInfo.getUserName == stream){


        <div id="broadcaster-sidebar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            
            <h2>Broadcaster Dashboard</h2>
            <hr/>
            <h3>Channel Title</h3>
            <input id="newTitle" type="text" placeholder="Title" />
            <button id="changeTitle" onclick="">Change</button>
            <hr/>


            <h3>View Stream Key</h3>
            <button id="viewStreamKey" onclick="toggleStreamKey()">Show</button>
            <span id="streamKey" style="display: none;" class="streamKey">@userInfo.getUserChannel().getStreamKey()</span>
            <hr/>

            <h3>Reset Stream Key</h3>
            @*<button id="resetStreamKey"><a id="resetStreamKey" href="@routes.ChannelController.changeStreamKey(stream)">Reset</a></button>*@
            <button id="resetStreamKey" onclick="toggleConfirm()">Reset</button>
            <div id="confirmStreamKeyReset" style="display: none;">

                    <p id="warning">WARNING: Changing your stream key will cause your stream to end. You will need to re-configure your streaming software with the new key. Please restart broadcasting after changing it.</p>

                <button id="confirmChange"><a id="resetStreamKey" href="@routes.ChannelController.changeStreamKey(stream)">Change</a></button>
                <button id="denyChange" onclick="toggleConfirm()">Cancel</button>
            </div>
            
            <hr/>
        </div>

        <span class="sidebar-open" id="sidebar-open" onclick="openNav()">dashboard &#9776;</span>


        <script type="text/javascript">
                function toggleConfirm(){
                    var x = document.getElementById("confirmStreamKeyReset");

                    if(x.style.display === 'none'){
                        x.style.display = 'block';
                    }else{
                        x.style.display = 'none';
                    }
                }
                
                function openNav() {
                    document.getElementById("broadcaster-sidebar").style.width = "250px";
                    document.getElementById("sidebar-open").style.visibility = "hidden";
                }

                function closeNav() {
                    document.getElementById("broadcaster-sidebar").style.width = "0";
                    document.getElementById("sidebar-open").style.visibility = "visible";
                }
                function toggleStreamKey(){
                    var x = document.getElementById("streamKey");

                    if(x.style.display === 'none'){
                        x.style.display = 'block';
                        document.getElementById("viewStreamKey").innerText = "Hide";
                    }else{
                        x.style.display = 'none';
                        document.getElementById("viewStreamKey").innerText = "Show";
                    }

                }

        </script>

        @if(flash.containsKey("streamKeyChanged")) {
            <script type="text/javascript">
                    $(document).ready(function(){
                        $("#changeStreamKeySuccess").modal('show');

                    });
            </script>
        }

        <div class="modal fade" id="changeStreamKeySuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Stream Key Changed Successfully!</h4>
                </div>
                <div class="modal-content">
                    Your stream key was just changed! You will need to re-configure your streaming software and re-start your stream.
                    To view your new stream key, access the broadcaster dashboard on your channel page.
                </div>
            </div>
        </div>

    }

    <section class="bg-primary" id="one">
        <div class="container">
        @if(!Channel.isStreaming(key)){
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h1 text-align='center'>@stream</h1>
                    <video autoplay id="player" class="video-js vjs-big-play-centered" height="360" width="640" controls preload="auto">
                        <source src="/live/@key/index.m3u8" type='application/x-mpegURL' />
                    </video>

                    <p class="view-stats">
                        Current Viewers: <span id="viewCount">0</span>
                        Total Views: <span id="totalCount">@views</span>
                    </p>


                </div>
            </div>
        }else{
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 id="sorry">Sorry, @stream is not streaming right now.</h2>
                </div>
            </div>
        }


        </div>
    </section>

    @if(isLoggedIn){
        <section class="no-padding" id="two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                        <div id="wrapper">
                            <div id="menu">
                                <p class="welcome">Welcome, @userInfo.userName<b></b></p>
                                <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
                                <div style="clear:both"></div>
                            </div>

                            <div id="chatbox">



                            </div>

                            <input name="usermsg" type="text" id="usermsg" size="63" />
                            <input name="submitmsg" type="submit" id="submitmsg" value="Send" />

                        </div>
                    </div>
                </div>

            </div>

        </section>
    }


    @if(!Channel.isStreaming(key)) {
        <script>
                var player = videojs('#player', {
                    fluid: true
                });
                player.brand({
                    image: "assets/images/minimized-logo1.png",
                    title: "ZAStream",
                    destination: "https://zastream.com",
                    destinationTarget: "_top"
                });
        </script>
    }

   <script src="@routes.ChannelController.webSocketViewCount(stream)" type="text/javascript"></script>
    @if(isLoggedIn) {
        <script src="@routes.ChatController.webSocketChannelChat(stream, userInfo.userId)" type="text/javascript"></script>
    }

}