@(stream: String, isLoggedIn: Boolean, userInfo: User)


@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(stream, isLoggedIn, userInfo) {


        <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "150px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }

                document.getElementById("topNav").className =
                        document.getElementById("topNav").className
                                .replace(new RegExp('(?:^|\\s)'+ 'affix-top' + '(?:\\s|$)'), ' ');

        </script>
        <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script src="http://vjs.zencdn.net/5.16.0/video.js"></script>

        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/Cstyles.css" />
        <link href="http://vjs.zencdn.net/5.16.0/video-js.css" rel="stylesheet">


        <section class="" id="one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                        <h1 text-align='center'>@stream</h1>
                        <video id="my-video" class="video-js video-player" controls preload="auto" width="640px" height="360px" poster="" data-setup="{}">
                            <source src="" type='application/x-mpegURL'>
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>

            </div>

        </section>

        <section class="no-padding" id="two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                        <div id="wrapper">
                            <div id="menu">
                                <p class="welcome">Welcome, <b></b></p>
                                <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
                                <div style="clear:both"></div>
                            </div>

                            <div id="chatbox"></div>

                            <form name="message" action="">
                                <input name="usermsg" type="text" id="usermsg" size="63" />
                                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </section>

}