@(title: String,
        feedbackForm: Form[views.formdata.FeedbackForm], isLoggedIn: Boolean, userInfo: User)

@main(title, isLoggedIn, userInfo) {
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href='/assets/stylesheets/Fstyles.css'>

    <div class="feedback">
        @if(title.contains("Feedback Submitted!")){
            <script type="text/javascript">
                    $(document).ready(function(){
                        $("#feedbackSuccess").modal('show');
                        $('#feedbackSuccess').on('hidden.bs.modal', function (e) {
                            window.location = "@routes.HomeController.index()"
                        })
                    });
            </script>
        }
      <form method="POST" action="@routes.FeedbackController.sendFeedBack()">
          <h2>Share Your Thoughts!</h2>
            <input type="text" name="name" placeholder="Your Name"><br><br>
            <input type="text" name="email" placeholder="Your Email"><br><br>

              <textarea name="message" rows="15" cols="50" placeholder="Your Feedback"></textarea><br><br>

                <h3>Rate your Experience:</h3>
                <div class="stars">
                    <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                    <label class="star star-5" for="star-5"></label>

                    <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                    <label class="star star-4" for="star-4"></label>

                    <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                    <label class="star star-3" for="star-3"></label>

                    <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                    <label class="star star-2" for="star-2"></label>

                    <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                    <label class="star star-1" for="star-1"></label>
                </div>

            <input type="submit" class="submit" value="Submit">


      </form>
     </div>

    <div class="modal fade" id="feedbackSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Feedback Sent!</h4>
            </div>
            <div class="modal-content">
                Thank you for sending us feedback! We will read your comments and improve our website with your suggestions!
            </div>
        </div>
    </div>
}