@* This is the home page of ZAStream website *@
@(isLoggedIn: Boolean, userInfo: User)

@main("Home", isLoggedIn, userInfo) {
    <link type="text/css" rel="stylesheet" href="/assets/stylesheets/index.css" />
        <header id="first">
            <div class="header-content">
                <div class="inner">
                    <br/>
                    <h1 class="cursive">Welcome to ZAStream</h1>

                    <hr>
                    <p>We are a new Live Video streaming website built for gamers, teachers, and professionals alike. Our goal is to take the mystery out of live streaming and connect people around the world in collaborative ways.</p>

                </div>
            </div>
            <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="assets/video/Highlights.jpg" id="video-background">
                <source src="assets/video/Highlights.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="assets/video/Highlights.webm" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </header>
        <section class="bg-primary" id="one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                        <h2 class="margin-top-0 text-primary">About Us</h2>
                        <br>
                        <p class="text-faded">
                            Thanks for checking us out! We are a brand-new streaming service tailored to small communities, educational groups, and professionals. There are two main things to do here - stream and watch live video! Currently, you can get to public streams only via a link provided by a friend/instructor/presenter, but that will be changing soon! If you want to stream, but you have never streamed before, it is surprisingly easy.
                        </p>
                        <hr/>
                        <p class="text-faded">
                            ZAStream is a collaborative effort made by undergraduate Computer Science students at Southern Oregon University as a senior-year Capstone project. We really appreciate you testing our website and would love any feedback. Please send any comments, questions, or concerns to support&#64;zastream.com and we will get back to you!
                        </p>
                        @*<a href="#three" class="btn btn-default btn-xl page-scroll">Learn More</a>*@
                    </div>
                </div>
            </div>
        </section>


        <section id="two" class="no-padding">
            <div class="container-fluid">
                <h2 class="text-center text-primary">Featured Live Streams</h2>
                <br/>
                <hr class="primary">
                <br/>
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a class="gallery-box" href="#">
                            <img src="http://placehold.it/800x450" class="img-responsive" alt="Stream1">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <h2>A Streaming Live!</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h2 class="text-primary">Get Started!</h2>

                    <p>
                        Here at ZAStream, we recommend the free Open Broadcaster Software to stream video from your computer, but there are other solutions available. To get started streaming, register by clicking the “Sign Up” link below and follow the instructions provided in the welcome email to set up your streaming client.
                    </p>
                    <a href="@routes.AuthenticationController.registerPage()" class="btn btn-default btn-lg wow flipInX">Sign Up</a>
                    @*<a href="#" target="ext" class="btn btn-default btn-lg wow flipInX">I am a Viewer</a>*@
                </div>
                <br>
                <hr/>
                <br>

            </div>
        </aside>


}
