@* This is the login page of ZAStream website that allow user to login  *@
@(title: String,
        loginForm: Form[views.formdata.LoginForm],isLoggedIn: Boolean, userInfo: User)

@import assets.constant.Constants

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(title, isLoggedIn, userInfo) {

        <link rel='stylesheet' type='text/css' href='/assets/stylesheets/Rstyle.css'>

        <div class="log">
            <div class="content2">
                <h3>ZAStream - Sign In</h3>
                @if(loginForm.hasErrors) {
                    @if(loginForm.error("passWord")!=null ){
                        <p class="errormsg">Please check your Password!</p>
                    }

                    @if(loginForm.error("userName")!=null){
                        <p class="errormsg">Please check your Username!</p>
                    }
                }
                <form method="post" action="@routes.AuthenticationController.authenticate()">
                    <input type="text" name="userName" placeholder="@Constants.USERNAME_PLACEHOLDER" />
                    <input type="password" name="passWord" placeholder="@Constants.PASSWORD_PLACEHOLDER" />
                    <input type="submit" class="register" value="login" />
                </form>
            </div>

            <p class="text-center"><a href="">Forgot Password?</a></p>
            <p class="text-center"><a href="@routes.AuthenticationController.registerPage()">Need an Account? Click Here!</a></p>

            <div class="clear"></div>
        </div>


}