@* This the registeration form page for user to register an account throgh ZAStream DB*@
@(title: String,
        registerForm: Form[views.formdata.RegisterForm], isLoggedIn: Boolean, userInfo: User)

@import assets.constant.Constants

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(title, isLoggedIn, userInfo) {
        <script type="application/x-javascript">
                addEventListener("load", function() {
                    setTimeout(hideURLbar, 0);
                }, false);

                function hideURLbar() {
                    window.scrollTo(0, 1);
                }
        </script>

        <link rel='stylesheet' type='text/css' href='/assets/stylesheets/Rstyle.css'>


        <div class="log">
            <div class="content2">
                <h2>Sign Up</h2>
                @if(registerForm.hasErrors) {
                        @for(error <- registerForm.errors()){
                            <p class="errormsg">@error</p>
                        }
                }

                <form method="post" action="@routes.AuthenticationController.newUser()">
                    <input type="text" name="userName" value="@Constants.USERNAME_PLACEHOLDER" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '@Constants.USERNAME_PLACEHOLDER';}">
                    <input type="email" name="email" value="@Constants.EMAIL_PLACEHOLDER" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '@Constants.EMAIL_PLACEHOLDER';}">
                    <input type="password" name="passWord" value="@Constants.PASSWORD_PLACEHOLDER" onfocus="this.value = '';" onblur="if (this.value == '') {tis.value = '@Constants.PASSWORD_PLACEHOLDER';}">
                    <input type="submit" class="register" value="register" />
                </form>
            </div>
            <div class="clear"></div>
        </div>


}