@(query: String, isLoggedIn: Boolean, userInfo: User, results: List[Channel])


@main(query, isLoggedIn, userInfo) {
  <link rel='stylesheet' type='text/css' href='/assets/stylesheets/Rstyle.css'>
  <link rel='stylesheet' type='text/css' href='/assets/stylesheets/search.css'>

  <div class="container">

      <h2>Search results for '@query': </h2>
    @for(result <- results){

    }
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="item">
              <p class="channelName">Channel</p>
              <p class="isActive">Not Live</p>
              <p class="channelType">Public</p>
              <p class="totalViews">1000</p>
              <p class="currentViews">0</p>
          </div>
      </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="item">
                sldjflkasjdlkfjlkasdf
            </div>
        </div><div class="col-xs-12 col-sm-6 col-md-4">
        <div class="item">
            sldjflkasjdlkfjlkasdf
        </div>
    </div><div class="col-xs-12 col-sm-6 col-md-4">
        <div class="item">
            sldjflkasjdlkfjlkasdf
        </div>
    </div><div class="col-xs-12 col-sm-6 col-md-4">
        <div class="item">
            sldjflkasjdlkfjlkasdf
        </div>
    </div><div class="col-xs-12 col-sm-6 col-md-4">
        <div class="item">
            sldjflkasjdlkfjlkasdf
        </div>
    </div><div class="col-xs-12 col-sm-6 col-md-4">
        <div class="item">
            sldjflkasjdlkfjlkasdf
        </div>
    </div>

    </div>

  </div>
}